<div class="create-content">
    <form>
        <div>
          <label for="id">ID:</label>
          <input type="text" [(ngModel)]="carrera.id" id="id" name="id" required>
        </div>
        <div>
          <label for="carrera">Carrera:</label>
          <input type="text"  [(ngModel)]="carrera.nombre" id="carrera" name="carrera" required>
        </div>
        <div>
          <label for="area">Área:</label>
          <input type="text" [(ngModel)]="carrera.area" id="area" name="area" required>
        </div>
        <div>
          <label for="modalidad">Modalidad:</label>
          <input type="text" [(ngModel)]="carrera.modalidad" id="modalidad" name="modalidad" required>
        </div>
        <button type="submit"  (click)="save()" >Guardar</button>
      </form>
</div>